
{% load i18n %}
{% block content %}

<!-- قائمة المهام -->
<ul class="list-group">
    {% for task in project.task_set.all %}
          <li class="list-group-item d-flex align-items-center justify-content-between">
            <form method="post" action="{% url 'task_update' task.id %}" class="d-flex align-items-center">
              {% csrf_token %}
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="is_completed"
                {% if task.is_completed %} checked {% endif %}
                onchange="this.form.submit()"
              />
              <span class="{% if task.is_completed %}text-decoration-line-through{% endif %}">
                {{ task.description }}
              </span>
            </form>

            <!-- زر الحذف -->
            <form method="post" action="{% url 'task_delete' task.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </li>
    {% empty %}
        <li class="list-group-item text-center">
          {% trans "No tasks available" %}
        </li>
    {% endfor %}
</ul>

<!-- إضافة مهمة جديدة -->
<div class="card mt-3">
  <div class="card-body">
    <form method="post" action="{% url 'task_create' %}" class="d-flex">
      {% csrf_token %}
      <div class="input-group">
        <input type="hidden" value="{{ project.id }}" name="project">
        <input type="text" name="description" class="form-control" placeholder="{% trans 'New Task' %}" required>
        <button type="submit" class="btn btn-outline-dark">
          {% trans 'Add' %}
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
